@model IEnumerable<Storepos.Entitites.OrderDetail>
@{
    ViewBag.Title = "Laporan List";
    //Layout = "~/Views/Shared/Point_of_sale.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Laporan.css" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>EKASA MART</h2>
</div>
<br />
<br />

@*<p class="tbl-laporan">
        @Html.ActionLink("Create New", "LaporanCreate")
    </p>*@
<table id="TB_Laporan" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID_Laporan</th>
            <th>ID_Barang</th>
            <th>Waktu</th>
            <th>Kode_Barang</th>
            <th>Nama_Barang</th>
            <th>Jumlah</th>
            <th>Pendapatan</th>
        </tr>
    </thead>
    <tbody id="TabelLaporan"></tbody>
</table>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    @*<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>*@


    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '@Url.Action("GetData", "Laporan")',
                success: function (data) {
                    console.log(data);
                    for (var x = 0; x < data.data.length; x++) {
                        $("#TabelLaporan").append(
                            "<tr><td>" + data.data[x].OrderDetailId + "</td><td>" + data.data[x].OrderId + "</td><td>" + data.data[x].ItemID + "</td><td>" + data.data[x].UnitPrice + "</td><td>" + data.data[x].Quantity + "</td><td>" + data.data[x].Discount + "</td><td>" + data.data[x].Total + "</td></tr >"
                        );
                        console.log(x);
                    };
                },
                error: function (e) {
                    console.log(e);
                }
            });

            @*dataTable = $("#TB_Laporan").DataTable({
                 "ajax" : {
                    "url":'@Url.Action("GetData","Laporan")',
                    "type": "Get",
                    "datatype": "Json",
                },
                "colummns": [
                    { "data": "Waktu" },
                    { "data": "ID_Barang" },
                    { "data": "Kode_Barang" },
                    { "data": "Nama_Barang" },
                    { "data": "Jumlah" },
                    { "data": "Pendapatan" },
                ],
                "language": {

                    "emptyTable": "No data found, Please click on <b>Add New</b> Button"

                }
            });*@

        });

        //function PopupForm(url) {
        //    var formDiv = $('<div/>');
        //    $.get(url)
        //        .done(function (response) {
        //            formDiv.html(response);

        //            Popup = formDiv.dialog({
        //                autoOpen: true,
        //                resizable: false,
        //                title: 'Detail Laporan',
        //                height: 500,
        //                widht: 700,
        //                close: function myfunction() {
        //                    Popup.dialog('destroy').remove();
        //                }
        //            });
        //        });
        //}

        //function SubmitForm(form) {
        //    $.validator.unobtrusive.parse(form);
        //    if ($(form).valid()) {
        //        $.ajax({
        //            type: "POST",
        //            url: form.action,
        //            data: $(form).serialize(),
        //            success: function (data) {
        //                if (data.success) {
        //                    Popup.dialog('close');
        //                    dataTable.ajax.reload();
        //                }

        //            }
        //        });
        //    }
        //    return false;
        //}
    </script>

}