@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()    
        @Html.ActionLink("Haaiii. . . " + User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link" })        
        <a href="javascript:document.getElementById('logoutForm').submit()" style="padding-left: 15px;">Keluar Akun??</a>
    }
}
else
{    
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @Html.ActionLink("Masuk", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })    
}
