.navbar {
    background-color: #300243;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

.tbl-barang :hover {
    color: #300243;
    text-decoration: none;
    font-size: 120%;
    transition: .5s;
}

.tbl-back :hover {
    color: #300243;
    text-decoration: none;
    font-size: 120%;
    transition: .5s;
}