
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/Barang.css" />
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>Laporan</h2>
</div>
<br />
<br />

<table id="Laporan" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>NamaBarang</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Discount</th>
            <th>Total</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Laporan').DataTable({
                "ajax": {
                    "url": "/DataTables/GetData",
                    "type": "Get",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "OrderDetailID" },
                    { "data": "ItemName" },
                    { "data": "UnitPrice" },
                    { "data": "Quantity" },
                    { "data": "Discount" },
                    { "data": "Total" },
                ],
            });
        });
    </script>

}