@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/Laporan.css" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>EKASA MART</h2>
</div>
<br />
<br />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    var TotalHarga;
    $(document).ready(function () {
        
        $("#Item").val(0);
        $("#Item").change(function () {
            var itemId = $("#Item").val();
            GetItemUnitPrice(itemId);
        });

        $("input[type=text]").change(function () {
            CalculateSubTotal();
        });

        $("input[type=text]").keyup(function () {
            CalculateBalance();
        });

        $("#btnAddToList").click(function () {
            AddtoTheItemList();
        });

        $("#btnPayment").click(function () {
            FinalPayment();
        });

        $("#btnCheckOut").click(function () {
            TotalHarga = $("#txtFinalTotal").text();
            $("#txtPaymentTotal").val(parseFloat(TotalHarga).toFixed(2));
            $("#txtPaymentAmount").val(parseFloat(TotalHarga).toFixed(2));
        });
    });

    function FinalPayment() {
        var objOrderViewModel = {};
        var ListOfOrderDetailViewModel = new Array();
        //ListOfOrderDetailViewModel
        objOrderViewModel.PaymentTypeId = $("#PaymentType").val();
        objOrderViewModel.CustomerId = $("#Customer").val();
        objOrderViewModel.FinalTotal = $("#txtFinalTotal").text();

        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var OrderDetailViewModel = {};
            OrderDetailViewModel.Total = parseFloat($(this).find("td:eq(5)").text());
            OrderDetailViewModel.ItemId = parseFloat($(this).find("td:eq(0)").text());
            OrderDetailViewModel.UnitPrice = parseFloat($(this).find("td:eq(2)").text());
            OrderDetailViewModel.Quantity = parseFloat($(this).find("td:eq(3)").text());
            OrderDetailViewModel.Discount = parseFloat($(this).find("td:eq(4)").text());
            ListOfOrderDetailViewModel.push(OrderDetailViewModel);
        });
        objOrderViewModel.ListOfOrderDetailViewModel = ListOfOrderDetailViewModel;

        $.ajax({
            asysnc: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(objOrderViewModel),
            url: '/Transaksi/Fajar',
            success: function (data) {
               // Location.Href =window.print();
                // alert($("#txtFinalTotal").val());
                $("#txtFinalTotal").text(TotalHarga);
                var divToPrint = document.getElementById("#txtNotaPembayaran");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
               
            },
            error: function () {
                alert("There is some problem to adding the data");
            }
        });

    }

    function CalculateBalance() {
        var FinalAmount = $("#txtPaymentTotal").val();
        var PaymentAmount = $("#txtPaymentAmount").val();
        var ReturnAmount = $("#txtReturnTotal").val();
        var BalanceAmount = parseFloat(FinalAmount) - parseFloat(PaymentAmount) + parseFloat(ReturnAmount);
        $("#txtBalance").val(parseFloat(BalanceAmount).toFixed(2));
        if (parseFloat(BalanceAmount) == 0) {
            $("#btnPayment").removeAttr("disabled");
        }
        else {
            $("#btnPayment").attr("disabled", "disabled");
        }

    }

    function RemoveItem(itemId) {
        $(itemId).closest('tr').remove();
    }

    function AddtoTheItemList() {
        var tblItemList = $("#tblRestaurantItemList");
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();
        var ItemId = $("#Item").val();
        var ItemName = $("#Item option:selected").text();
        var Total = (UnitPrice * Quantity) - Discount;

        var ItemList = "<tr><td hidden>" +
            ItemId +
            "</td><td>" +
            ItemName +
            "</td><td>" +
            parseFloat(UnitPrice).toFixed(2) +
            "</td><td>" +
            parseFloat(Quantity).toFixed(2) +
            "</td><td>" +
            parseFloat(Discount).toFixed(2) +
            "</td><td>" +
            parseFloat(Total).toFixed(2) +
            "</td><td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/> </tr></tr>";

        tblItemList.append(ItemList);
        FinalItemTotal();
        ResetItem();
    }

    function FinalItemTotal() {
        $("#txtFinalTotal").text("0.00");
        var FinalTotal = 0.00;
        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var Total = parseFloat($(this).find("td:eq(5)").text());
            FinalTotal += Total;
            (FinalTotal);
        });
        $("#txtFinalTotal").text(parseFloat(FinalTotal).toFixed(2));
        
    }

    function ResetItem() {
        $("#txtUnitPrice").val('');
        $("#txtQuantity").val('');
        $("#txtDiscount").val('0.00');
        $("#Item").val(0);
        $("#txtTotal").val("");
    }

    function CalculateSubTotal() {
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();

        var Total = (UnitPrice * Quantity) - Discount;

        $("#txtTotal").val(parseFloat(Total).toFixed(2));
        
        $("#txtBalance").val(parseFloat(Total).toFixed(2));
    }

    function GetItemUnitPrice(itemId) {
        $.ajax({
            aysnc: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: { itemId: itemId },
            url: '/Transaksi/getItemUnitPrice',
            success: function (data) {
                $("#txtUnitPrice").val(parseFloat(data).toFixed(2));

            },
            error: function () {
                alert("There is some problem to get the Unit Price");
            }
        });

        //function printData() {
        //    var divToPrint = document.getElementById("#txtNotaPembayaran");
        //    newWin = window.open("");
        //    newWin.document.write(divToPrint.outerHTML);
        //    newWin.print();
        //    newWin.close();
        //}

        //$('#btnPayment').click(function () {
        //    printData();
        //});
        
    }

   
</script>

<fieldset>    
    <div class="container" id="atas">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Nama Barang :
                    @Html.DropDownList("Item", new SelectList( Model.Item2, dataValueField:"Value", dataTextField:"text"),
                            htmlAttributes: new {@class = "form-control"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Harga Satuan :
                    <input style="text-align:right" type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="UnitPrice" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Jumlah :
                    <input style="text-align:right" type="text" id="txtQuantity" value="0" name="Quantity" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Diskon :
                    <input style="text-align:right" type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Total Harga :
                    <input style="text-align:right" type="text" readonly="readonly" id="txtTotal" value="0.00" name="Quantity" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" style="margin-top:20px" value="Add To List" name="AddToList" id="btnAddToList" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</fieldset>
    <div id="#txtNotaPembayaran">
        <fieldset style="overflow: hidden;">
            <legend>List Barang</legend>
            <table style="width:100%" id="tblRestaurantItemList">

                <thead>
                    <tr>
                        <th hidden>
                            Item Id
                        </th>
                        <th>
                            Nama Barang
                        </th>
                        <th>
                            Harga Barang
                        </th>
                        <th>
                            Jumlah Barang
                        </th>
                        <th>
                            Diskon
                        </th>
                        <th>
                            Total Harga
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="col-md-4" style="float:right; position:sticky; bottom:0; right:0;">
                <div class="form-group">
                    <h3>TOTAL :</h3>
                    <span style="text-align:center; width: 500px; height: 70px; font-size: 200%;" type="text" readonly="readonly" id="txtFinalTotal" class="form-control"></span>
                    <input data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#divPayment" type="button" style="margin-top: 5px" value="Checkout" name="save" id="btnCheckOut" class="btn btn-primary" />
                </div>
            </div>
            @*<div class="d-print-none">
                <div class="float-end">
                    <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1">Print<i class="fa fa-print"></i></a>
                </div>
            </div>*@
        </fieldset>
    </div>

    <div id="divPayment" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PEMBAYARAN</h4>
                </div>
                <div class=" modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-md-3">
                                Total Harga :
                                <input type="text" id="txtPaymentTotal" readonly="readonly" value="0.00" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                Jumlah Pembayaran :
                                <input type="text" id="txtPaymentAmount" value="0.00" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                Total Kembalian :
                                <input style="text-align:right" type="text" readonly="readonly" id="txtReturnTotal" value="0.00" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                Balance Amount :
                                <input style="text-align:right" type="text" readonly="readonly" id="txtBalance" value="0.00" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <button class="btn btn-success" disabled="" id="btnPayment" value="Payment">Payment</button>
                    <button class="btn btn-danger" id="btnClose" data-dismiss="modal" value="Close">Close</button>
                </div>
            </div>
        </div>
    </div>

